#a1{
    top: -55vh;
    right: 50px;

    width: 250px;
}

#a2{
    top: -58vh;
    right: 50px;

    width: 600px;
}
#a3{
    top: -58vh;
    right: 50px;

    width: 500px;
}
#a4{
    top: -60vh;
    right: 50px;

    width: 650px;
}
#a5{
    top: -58vh;
    right: 50px;

    width: 450px;
}
#a6{
    top: -58vh;
    right: 350px;

    width: 300px;
}
#a7{
    top: -60vh;
    right: 750px;

    width: 600px;
}
#a8{
    top: -55vh;
    right: 50px;

    width: 500px;
}

#a9{
    top: -20vh;
    right: 650px;

    width: 700px;
}

#a10{
    top: -60vh;
    right: 650px;

    width: 700px;
}
#a11{
    top: -60vh;
    right: 650px;

    width: 700px;
}
#a12{
    top: -20vh;
    right: 750px;

    width: 600px;
}

.captionE{
    float: right;
    height: 0;
    text-align: left;
    position: relative;

    font-size: 1.2rem;
}

.captionA{
    float: right;
    height: 0;
    text-align: right;
    position: relative;

    font-size: 1.5rem;
}

.starbutton{
    z-index: 10000;
}