:root {
    --size:727px;
  }
#boxstory{
    border-radius: 1em;
    display: grid;
    margin: 2vh auto;
    height: calc(60vh);
}
#button-container{
    width: 65vw;
    margin: 0 auto;

}

/* Style for the message container */
.message-container {
    max-width: 300px; /* Adjust as needed */
    margin: 10px;
    padding: 15px;
    border-radius: 15px;
    background-color: #007aff; /* iMessage blue color */
    position: relative;
    display: inline-block;
    color: white; /* Text color */
}

/* Style for the message tip */
.l::after {
    content: '';
    position: absolute;
    top: 10px;
    right: -30px;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent transparent #007aff; /* Triangle color */
}
.r::after {
    content: '';
    position: absolute;
    top: 10px;
    left: -35px;
    border-width: 20px;
    border-style: solid;
    border-color:  transparent #007aff transparent transparent ; /* Triangle color */
}

.shadowed{
    border-radius: 1em;
    display: block;
    margin: 2em auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    height: 60vh;
}
.story-image{
    border-radius: 1em;
    display: block;
    margin: 0 auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    height: 60vh;
}

.btn-disabled {
    background-color: lightgray !important;
    opacity: 1;
    mix-blend-mode: saturation;
    width: 10vh;
    height: 10vh;
    z-index: 1000;
    display: block;
    position: relative;
}

.right-dis{

    right: -10vh;
}
.left-dis{
    right: 10vh;
}
#back-button{
    z-index: 10000;
    border: none;
    background-color: transparent;
    margin: 0;
}

.float-right{
    rotate: 180deg;
    float: right;
}

.float-left{
    float: left;
}

#right-button{
    z-index: 10000;
    border: none;
    background-color: transparent;
    margin: 0;
}

#back-button img,
#right-button img{
    width: 10vh;
    margin: 0;
}

.starbutton{
    text-decoration: none !important;
    text-underline: none !important;
    z-index: 10000 !important;
    margin-top: 1em;
}

#starrrr{
    text-underline: none!important;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    z-index: -1000;
    background: rgba(252,244,154, 0.5) /* You can also add opacity/transparency here */
}
.backhead{
    width: 250px;
    
    height: 250px;

    margin-left: auto;
    margin-right: auto;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius: 20%;
}
.mouthstory{
    position:absolute;
    top:var(--size);;
}
.eyesstory{
    position:absolute;
    top:var(--size);;
}

.nosestory{
    position:absolute;
    top:var(--size);;
}

.hairstory{
    position:absolute;
    top:var(--size);
}

.browsstory{
    position:absolute;
    top:var(--size);;
}

.conchlearstory{
    position:absolute;
    top:var(--size);;
}

.clothesstory{
    position:absolute;
    top:var(--size);;
}

.glassesstory{
    position:absolute;
    top:var(--size);;
}

.flexRow{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.starbutton {
    display: block;
    padding: 15px 50px; /* Adjust padding for the button size */
    border-radius: 20px; /* Rounded corners */
    background-color: orange; /* Complementary blue color */
    color: #fff; /* White text color */
    font-size: 24px; /* Adjust font size for readability */
    font-family: Arial, sans-serif; /* Readable font */
    text-decoration: none; /* emove underline for links */
    text-underline: none;
    transition: background-color 0.2s; /* Hover effect transition */
    margin: 5vh auto 0 ;
    border: white 4px solid;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

a{
    text-decoration: none !important;
    text-underline:  none !important;
}

.starbutton:hover{
    background-color: white;
    color: orange;
    border: orange 2px solid;
}

