.center{
    text-align:center;
    justify-content: center;
}

.pg1{
    font-weight: 500;
    text-align: right;
    position:absolute;
    right:8rem;
    top:20%;
    font-size: 1.3em ;
}

.pg2{
    font-weight: 500;
    text-align: right;
    position: absolute;
    right:12rem;
    top:2%;
    font-size: 1.3em ;
}

.pg3{
    font-weight: 500;
    text-align: right;
    position: absolute;
    right:12rem;
    top:0%;
    font-size: 1.3em ;
}

.pg35{
    font-weight: 500;
    text-align: center;
    position: absolute;
    left:-35rem;
    top:220%;
    font-size: 1.1em ;
}

.pg36{
    font-weight: 500;
    text-align: center;
    position: absolute;
    left:-35rem;
    top:240%;
    font-size: 1.1em ;
}

.pg37{
    font-weight: 500;
    text-align: center;
    position: absolute;
    left:-32rem;
    top:220%;
    font-size: 1.1em ;
}

.pg38{
    font-weight: 500;
    text-align: center;
    position: absolute;
    left:-29rem;
    top:240%;
    font-size: 1.1em ;
}

.pg4{
    font-weight: 500;
    text-align: right;
    position: absolute;
    right:12rem;
    top:0%;
    font-size: 1.3em ;
}

.pg42{
    font-weight: 500;
    text-align: center;
    position: absolute;
    left:-10rem;
    top:100%;
    font-size: 1.1em ;
}

.pg43{
    font-weight: 500;
    text-align: center;
    position: absolute;
    left:-11rem;
    top:130%;
    font-size: 1.1em ;
}
.pg44{
    font-weight: 500;
    text-align: center;
    position: absolute;
    left:-11rem;
    top:160%;
    font-size: 1.1em ;
}

.pg5{
    font-weight: 500;
    text-align: right;
    position: absolute;
    right:12rem;
    top:0%;
    font-size: 1.3em ;
}

.pg6{
    font-weight: 500;
    text-align: right;
    position: absolute;
    right:12rem;
    top:0%;
    font-size: 1.3em ;
}

.pg62{
    font-weight: 500;
    text-align: right;
    position: absolute;
    right:35rem;
    top:5%;
    font-size: 1.3em ;
}

.pg65{
    font-weight: 500;
    text-align: center;
    position: absolute;
    left:1rem;
    top:100%;
    font-size: 1.1em ;
}

.pg66{
    font-weight: 500;
    text-align: center;
    position: absolute;
    left:1rem;
    top:130%;
    font-size: 1.1em ;
}

.pg7{
    font-weight: 500;
    text-align: left;
    position: absolute;
    left:15rem;
    top:0%;
    font-size: 1.3em ;
}

.pg72{
    font-weight: 500;
    text-align: left;
    position: absolute;
    left:31rem;
    top:100%;
    font-size: 1em ;
}

.pg8{
    font-weight: 500;
    text-align: right;
    position: absolute;
    right:12rem;
    top:10%;
    font-size: 1.3em ;
    z-index: 999999;
}



@keyframes pg8 {
    0%{opacity: 50;}
    50%{opacity: 75;}
    100%{opacity: 100;}
}

.movement1{
    animation: pg8 3s infinite linear;
}




.pg9{
    font-weight: 500;
    text-align: left;
    position: absolute;
    left:15rem;
    top:50%;
    font-size: 1.3em ;
    z-index: 999999;
}

.pg92{
    font-weight: 500;
    text-align: right;
    position: absolute;
    left:9rem;
    top:100%;
    font-size: 1em ;
    z-index: 999999;
}

.pg10{
    font-weight: 500;
    text-align: left;
    position: absolute;
    left:25rem;
    top:0%;
    font-size: 1.3em ;
    z-index: 999999;
}

.pg102{
    font-weight: 500;
    text-align: right;
    position: absolute;
    left:25rem;
    top:0%;
    font-size: 1.3em ;
    z-index: 999999;
}

.pg105{
    font-weight: 500;
    text-align: left;
    position: absolute;
    left:1rem;
    top:600%;
    font-size: 1.1em ;
    z-index: 999999;
}
.pg1052{
    font-weight: 500;
    text-align: right;
    position: absolute;
    left:-8rem;
    top:400%;
    font-size: 1em ;
    z-index: 999999;
}

.pg11{
    font-weight: 500;
    text-align: left;
    position: absolute;
    left:15rem;
    top:1%;
    font-size: 1.3em ;
}

.pg112{
    font-weight: 500;
    text-align: right;
    position: absolute;
    left:15rem;
    top:1%;
    font-size: 1.3em ;
}

.pg12{
    font-weight: 500;
    text-align: left;
    position: absolute;
    left:20rem;
    top:50%;
    font-size: 1.3em ;
}

.pg122{
    font-weight: 500;
    text-align: right;
    position: absolute;
    left:15rem;
    top:55%;
    font-size: 1.3em ;
}

.carousel-fade .carousel-item{
    transition-property:opacity ;
}
.carousel-item {
    transition: transform .1s ease-in-out ;

  }
  .carousel-inner .carousel-item {
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    position: absolute;
  }
  .carousel-inner .carousel-item:first-of-type {
    position: relative;
  }
  .carousel-inner .active {
    opacity: 1;
  }
  li{
  transition: transform .6s ease !important;
  }
@media screen and (max-width: 768px){
    figcaption{
        position: inherit;
        top:inherit;
        margin: .25rem 0px;
        font-size: inherit;
    }

}


.questions{
    font-weight: 500;
    text-align: right;
    position: absolute;
    right: 14%;
    top: 75%;
    left: 35%;
}


.hairstory{
    position:absolute;
    top:var(--size);
}

#boxstory{
    width: 250px;
    
    height: 250px;

    margin-left: auto;
    margin-right: auto;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius: 20%;
}


.fadeIn {
    animation: fadeIn 5s; 
 }


 @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.delay {
    transition-delay: 10s;
  }