:root {
    --size:727px;
  }
#boxstory{
    border-radius: 1rem;
    display: grid;
    margin: 2rem auto;
    width: 1250px;
    height: calc(60vh + 3rem);
}
#button-container{
    position: relative;
}



.shadowed{
    border-radius: 1rem;
    display: block;
    margin: 2rem auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    height: 60vh;
}
.story-image{
    border-radius: 1rem;
    display: block;
    margin: 0 auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    height: 60vh;
}

.btn-disabled {
    background-color: lightgray !important;
    opacity: 1;
    mix-blend-mode: saturation;
    width: 100px;
    height: 100px;
    z-index: 1000;
    display: block;
    position: relative;
}

.right-dis{

    right: -100px;
}
.left-dis{
    right: 100px;
}
#back-button{
    border: none;
    background-color: transparent;
}

.float-right{
    rotate: 180deg;
    float: right;
}

.float-left{
    float: left;
}

#right-button{

    border: none;
    background-color: transparent;
}
#back-button img,
#right-button img{
    width: 6rem;
}


.starbutton{
    text-decoration: none !important;
    text-underline: none !important;
    z-index: 10000 !important;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    z-index: -1000;
    background: rgba(252,244,154, 0.5) /* You can also add opacity/transparency here */
}
.backhead{
    width: 250px;
    
    height: 250px;

    margin-left: auto;
    margin-right: auto;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius: 20%;
}
.mouthstory{
    position:absolute;
    top:var(--size);;
}
.eyesstory{
    position:absolute;
    top:var(--size);;
}

.nosestory{
    position:absolute;
    top:var(--size);;
}

.hairstory{
    position:absolute;
    top:var(--size);
}

.browsstory{
    position:absolute;
    top:var(--size);;
}

.conchlearstory{
    position:absolute;
    top:var(--size);;
}

.clothesstory{
    position:absolute;
    top:var(--size);;
}

.glassesstory{
    position:absolute;
    top:var(--size);;
}

.flexRow{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.starbutton {
    display: block;
    padding: 15px 50px; /* Adjust padding for the button size */
    border-radius: 20px; /* Rounded corners */
    background-color: orange; /* Complementary blue color */
    color: #fff; /* White text color */
    font-size: 24px; /* Adjust font size for readability */
    font-family: Arial, sans-serif; /* Readable font */
    text-decoration: none; /* Remove underline for links */
    transition: background-color 0.2s; /* Hover effect transition */
    margin: auto auto;
    border: white 4px solid;

    /* Ensure good contrast for accessibility */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.starbutton:hover{
    background-color: white;
    color: orange;
}

